    .img-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    img {
        width: 80%; 
        max-width: 200px; 
        height: auto;
        border-radius: 16px;
        margin: 10px 0;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      }
  
    ion-card-title {
      margin-top: 8px;
      font-weight: bold;
    }
  }
  
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 16px 0;
  
    ion-text {
      font-size: 18px;
    }
  }
  
  .best-seller {
    margin-top: 8px;
  }