<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons (click)="navegarHome()">
      <img src="assets/icon/logo.png" alt="Logo" style="width: 60px; vertical-align: middle;" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="compra-card">

    <ion-grid>
      <ion-row>

        <ion-col size="12" sizeMd="5" class="img-container">
          <ion-badge color="warning" class="best-seller">⭐ Best Seller</ion-badge>
          <img [src]="gift.image_url" alt="{{ gift.name }}" />
          <ion-card-title>{{ gift.name }} - Digital Gift Card</ion-card-title>
        </ion-col>

        
        <ion-col style="text-align: center;" size="12" sizeMd="7">

          <p>Select your amount</p>

          <ion-segment [(ngModel)]="valorSelecionado" color="dark">
            <ion-segment-button *ngFor="let value of values_gifts" [value]="value.value" (click)="selecionarValor(value.value)">
              {{ value.value }}
            </ion-segment-button>
          </ion-segment>

          <div class="quantity">
            <ion-button size="small" (click)="decrease()">-</ion-button>
            <ion-text>{{ quantity }}</ion-text>
            <ion-button size="small" (click)="increase()">+</ion-button>
          </div>
          <div class="container-button"> 
             
              <ion-button expand="block" color="medium" fill="outline" (click)="navegarHome()">Cancelar</ion-button>
              <ion-button expand="block" color="success" (click)="buyNow()">Comprar</ion-button>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  
  </ion-card>

</ion-content>