 .container-button{
  display: flex;
  justify-content: end;
}
.button-custom{
    margin-bottom: 10px;
}

.item-custom{
    margin-bottom: 20px;
    border-radius: 10px;

}
.alinhei{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-button{
    display: flex;
    justify-content: end;
}