<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/logo.png" alt="Logo" style="width: 60px; vertical-align: middle;" />
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-searchbar
        placeholder="Buscar"
        showCancelButton="never"
        (ionInput)="filtrar($event)"
        style="width: 60% ; font-size: 16px ; height: 40px; border-radius: 20px; text-align: left;">
      </ion-searchbar>
    
      <ion-button 
      (click)="userProfile()" 
      style="height: 40px; width: 40px; border-radius: 50%;">
      </ion-button>
  </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gift Cards</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngFor="let gift of gifts">
      <ion-card-header>
        <ion-card-title>{{ gift.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ gift.description }}</p>
      </ion-card-content>
    </ion-card>
  </div> 
</ion-content>