<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/logo.png" alt="Logo" style="width: 60px; vertical-align: middle;" />
    </ion-buttons>

    <ion-buttons slot="end" style="display: flex; align-items: center; gap: 8px;">
      <ion-searchbar
        placeholder="Buscar"
        showCancelButton="never"
        (ionInput)="filtrar($event)"
        style="width: 250px; font-size: 14px; height: 40px; border-radius: 20px; text-align: left;">
      </ion-searchbar>

      
        <ion-button routerLink="/perfil" fill="clear">
          <ion-icon  slot="icon-only" name="person-circle-outline" ></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h2 style="margin-left: 16px;">Novos Gift Cards</h2>

    <div class="carousel-container">
      <div class="carousel" >
        <ion-card  *ngFor="let gift of giftcards" class="gift-card" (click)="abrirDetalhe(gift)">
          <img [src]="gift.imagem" />
          <ion-card-header>
            <ion-card-title>{{ gift.nome }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ gift.descricao }}
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </div> 
</ion-content>