<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Gift</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-background"> 
    <div class="login-card"> 
      <img src="assets/icon/logo.png" style="width: 80px;" alt="Logo" class="logo" />
      <ion-input class="button-custom" label="Nome do Gift Card" label-placement="floating" fill="outline" [(ngModel)]="gift.nome" name="nome" required></ion-input>

      <ion-input class="button-custom" label="Descrição" label-placement="floating" fill="outline" [(ngModel)]="gift.descricao" name="descricao"></ion-input>
  
      <ion-input class="button-custom" label="URL da Imagem" label-placement="floating" fill="outline" [(ngModel)]="gift.imagemUrl" name="imagemUrl" required></ion-input>
    

    
      <ion-input *ngFor="let preco of gift.precos; let i = index" class="button-custom" label="Preço {{ i + 1}}" label-placement="floating" fill="outline"  [(ngModel)]="gift.precos[i]" name="preco{{i}}"></ion-input>
      
    <ion-button expand="block" (click)="adicionarPreco()">Adicionar Preço</ion-button>

    <ion-button expand="block" type="submit" color="success">Cadastrar</ion-button>


    </div>
  </div>
</ion-content>