
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.scroll-wrapper {
  width: 100%;
  overflow-x: auto;

}
.custom-table {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  font-size: 12px;
  min-width: 600px;
  white-space: nowrap;
}

.table-header {
  background-color: #f4f4f4;
  font-weight: bold;
  color: black;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table-row {
  border-bottom: 1px solid #eee;
  align-items: center;
}

.table-row:last-child {
  border-bottom: none;
}

ion-col {
  padding: 8px;
}

.text-center {
  text-align: center;
}